.add{}
.add input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
  }
.add button{
    width: 100px;
    height: 34px;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
}
